{% extends "layout.html" %}

{% block title %}Hakkımızda - Art of Museum{% endblock %}

{% block content %}
    <h1>Hakkımızda</h1>
    <p>Art of Museum, sanat tarihi ve kültürünü dijital ortamda keşfetmek, öğrenmek ve paylaşmak isteyen herkes için tasarlanmış bir platformdur.</p>
    <p>Amacımız, sanat eserlerini, sanatçıları ve sanat akımlarını daha geniş kitlelere ulaştırmak, sanal müze deneyimlerini yaygınlaştırmak ve sanat üzerine interaktif bir topluluk oluşturmaktır.</p>
    <p>Bu platform, sanatseverlerin, öğrencilerin, akademisyenlerin ve araştırmacıların bir araya gelerek bilgi alışverişinde bulunabileceği, kendi araştırmalarını ve yazılarını paylaşabileceği bir alan sunmayı hedefler.</p>
    <p>Gelecekte yapay zeka destekli analiz araçları ve daha zengin interaktif özelliklerle platformumuzu geliştirmeye devam edeceğiz.</p>
    <p>Bize katıldığınız için teşekkür ederiz!</p>
{% endblock %}