    {% extends "layout.html" %}

    {% block title %}{{ title }} - Art of Museum{% endblock %}

    {% block content %}
        <h1>{{ title }}</h1>
        <p>Hoş geldin, {{ current_user.username }}!</p>
        <p>Burası, sadece araştırmacıların, akademisyenlerin ve adminlerin erişebileceği özel kaynakları içeren Araştırma Kütüphanesidir.</p>
        <hr>
        <h3>Özel Kaynaklar</h3>
        <ul>
            <li>Dijital Arşivlere Erişim Linki</li>
            <li>Akademik Makale Veritabanı</li>
            <li>Yüksek Çözünürlüklü Eser Taramaları</li>
            <li>Yayınlanmamış Araştırma Notları</li>
        </ul>
        <p><em>(Bu içerikler ileride eklenecektir.)</em></p>
    {% endblock %}
    